@import "comon";
@import "colors";
@import "flexboxgrid";

.btn{
	@extend .bold;
	@extend .no-border;
	@extend .large-padding;
}
.bullet-points{
	@extend .row;
	@extend .no-padding;
	li{
		@extend .col-xs-10;
		@extend .col-md-6;
		@extend .relative;
		list-style-type: none;
		width: 50%;
		margin-right: -4px;
		&:nth-child(n+3)
		{
			@extend .top-space;
		}
		&::before{
			content: "";
			height: 0.5em;
			width: 0.5em;
			top: 13px;
			left: -10px;
			@extend .absolute;
			@extend .black;
			@extend .circle;
		}
	}
}

.card{
	@extend .white;
}

.container-80{
	width:80%;
	margin: 0 auto;
}

html,body{
	margin:0px;
	font-size:18px;
	font-weight:200;
	font-family: 'Open Sans', sans-serif;
}
header{
	.init{
		@extend .pull-right;
		@extend .relative;
		top: 2em;
		padding-right: 20px;
	}
	.restant-time{
		span{
			@extend .inline-block;
			vertical-align: top;
			line-height: 1em;
			font-size: 99px;
			span{
				display: block;
				@extend .small;
				@extend .uppercase;
				@extend .bold;
				@extend .text-right;
				padding-right:10px;
			}
		}
	}
}

.move-up{
	@extend .relative;
	top:-50px;
}

.separator{
	& > div:nth-child(1){
		padding-right: 2em;
		border-right: solid 1px #5297ce;
	}
	& > div:nth-child(2){
		padding-left: 2em;
	}
}

.video-player{
	height:0;
	overflow:hidden;
	padding-bottom:56.25%;
	@extend .relative;
	iframe{
		@extend .absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		
	}
}

.workshop-background{
	background:linear-gradient(to bottom,#6d7783 0%,#49505a 100%);
	padding-bottom: 100px;
}