!!! 5
%html
	%head
		%link{href:"./app.css",rel:"stylesheet"}
		%link{href:"https://fonts.googleapis.com/css?family=Open+Sans",rel:"stylesheet"}
		%meta{charset:"utf-8"}
		%title LandingPage
	%body
		.workshop-background
			.row.center-xs
				.col-xs-10.col-sm-8.col-md-6
					.box
						%header.white-text.text-center
							.inline-block
								%img{src:"imgs/tl.png",height:60}
								.init
									Iniciamos en
								.restant-time
									%span
										01
										%span Días
									%span :
									%span 
										20
										%span Horas
									%span :
									%span 
										30
										%span Minutos
						%h1.white-text.slim.title Creando un Landing Page desde Cero con Html5 y CSS3
						.top-space
							%a.btn.btn--yellow Tomar taller

		.row.center-xs
			.col-xs-12.col-sm-8
				.box
					.card.z-depth.move-up.padding-50
						.container-80
							.row.separator
								.col-xs-12.col-sm-6
									.box.text-left
										%p.bold ¿Lorem ipsum dolor sit amet?
										%ul.bullet-points
											%li Lorem ipsum dolor
											%li amet sit dolor ipsum Lorem
											%li Lorem ipsum dolor
											%li amet sit dolor ipsum Lorem
											%li Lorem ipsum dolor
											%li amet sit dolor ipsum Lorem
								.col-xs-12.col-sm-6
									.box.text-right
										%p.bold ¿Lorem ipsum dolor sit amet?
										%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, temporibus. Quibusdam voluptates animi placeat at, deserunt velit molestiae atque aliquam quam nam, sint deleniti, nihil officia ab. Perferendis, reprehenderit quasi!
						.video-player.top-space
							%iframe{src:"https://www.youtube.com/embed/JDvg0cYN-pg",frameborder:"0","allowfullscreen":true}
						
	